.Button {
  appearance: none;
  margin    : 0;
  padding   : 0;
  background: transparent;
  border    : 0;

  border-radius: var(--ui-radius-medium);

  font-size  : normal;
  line-height: normal;
  font-weight: normal;

  transition: 0.3s;

  cursor: pointer;

  overflow: hidden;
}

/* Sizes */
.Button__size--small {}

.Button__size--medium {
  padding: var(--ui-size-8px) var(--ui-size-16px);
}

.Button__size--large {}

/* appearance ACCENT */
/* appearance ACCENT | mode PRIMARY */
.Button__appearance--accent.Button__mode--primary {
  background-color: var(--ui-button-accent-primary);
  color           : var(--ui-button-accent-primary--text);
}

@media (hover: hover) {
  .Button__appearance--accent.Button__mode--primary:hover {
    background-color: var(--ui-button-accent-primary--hover);
  }
}


.Button__appearance--accent.Button__mode--primary:active {
  background-color: var(--ui-button-accent-primary--active);
}

/* appearance ACCENT | mode SECONDARY */
.Button__appearance--accent.Button__mode--secondary {
  background-color: var(--ui-button-accent-secondary);
  color           : var(--ui-button-accent-secondary--text);
}

@media (hover: hover) {
  .Button__appearance--accent.Button__mode--secondary:hover {
    background-color: var(--ui-button-accent-secondary--hover);
  }
}


.Button__appearance--accent.Button__mode--secondary:active {
  background-color: var(--ui-button-accent-secondary--active);
}

/* appearance TERTIARY */
/* appearance TERTIARY | mode PRIMARY */
.Button__appearance--tertiary.Button__mode--primary {
  background-color: transparent;
  color           : var(--ui-button-accent-tertiary--text);
}

@media (hover: hover) {
  .Button__appearance--tertiary.Button__mode--primary:hover {
    opacity: 0.8;
  }
}


.Button__appearance--tertiary.Button__mode--primary:active {
  opacity: 0.6;
}