.Spinner {
  position       : relative;
  display        : flex;
  transition     : 0.4s;
  justify-content: center;
  align-items    : center;

  opacity: 0;

  transition: 0.3s;
}

.Spinner--visible {
  opacity: 1;
}

.Spinner svg {
  animation: _SpinnerRotateDefault 2s linear infinite;
  z-index  : 2;
}

.Spinner circle {
  stroke        : currentColor;
  stroke-linecap: round;
}

.Spinner--animBorder.Spinner circle {
  animation: _SpinnerDashDefault 2s ease-in-out infinite;
}

@keyframes _SpinnerRotateDefault {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes _SpinnerDashDefault {
  0% {
    stroke-dasharray : 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray : 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray : 90, 150;
    stroke-dashoffset: -124;
  }
}

/* Size */
.Spinner__size--inherit svg {
  width : 100%;
  height: 100%;
}

.Spinner__size--small svg {
  width : var(--ui-size-20px);
  height: var(--ui-size-20px);
}

.Spinner__size--small .Spinner__progress {
  font-size: var(--ui-size-6px);
}

.Spinner__size--medium svg {
  width : var(--ui-size-28px);
  height: var(--ui-size-28px);
}

.Spinner__size--medium .Spinner__progress {
  font-size: var(--ui-size-8px);
}

.Spinner__size--large svg {
  width : var(--ui-size-36px);
  height: var(--ui-size-36px);
}

.Spinner__size--large .Spinner__progress {
  font-size: var(--ui-size-12px);
}

/* Colors */
.Spinner__color--icon_tertiary {
  color: var(--icon_tertiary);
}

.Spinner__color--primary {
  color: var(--separator_primary);
}

.Spinner__color--secondary {
  color: var(--separator_secondary);
}

.Spinner__color--inherit {
  color: inherit;
}

/* Progress */
.Spinner__progress {
  position       : absolute;
  left           : 0;
  right          : 0;
  top            : 0;
  bottom         : 0;
  display        : flex;
  justify-content: center;
  align-items    : center;

  color: inherit;
}