.Spinner {
  position       : relative;
  display        : flex;
  transition     : .4s;
  justify-content: center;
  align-items    : center;

  opacity: 0;

  transition: 0.3s;
}

.Spinner--visible {
  opacity: 1;
}

.Spinner svg {
  animation: _SpinnerRotateDefault 2s linear infinite;
  z-index  : 2;
}

.Spinner circle {
  stroke        : currentColor;
  stroke-linecap: round;
}

.Spinner--animBorder.Spinner circle {
  animation: _SpinnerDashDefault 2s ease-in-out infinite;
}

@keyframes _SpinnerRotateDefault {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes _SpinnerDashDefault {
  0% {
    stroke-dasharray : 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray : 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray : 90, 150;
    stroke-dashoffset: -124;
  }
}

/* Size */
.Spinner__size--auto svg {
  width : 100%;
  height: 100%;
}

.Spinner__size--x-small svg {
  width : 16px;
  height: 16px;
}

.Spinner__size--x-small .Spinner__progress {
  font-size: 6px;
}

.Spinner__size--small svg {
  width : 20px;
  height: 20px;
}

.Spinner__size--small .Spinner__progress {
  font-size: 6px;
}

.Spinner__size--regular svg {
  width : 28px;
  height: 28px;
}

.Spinner__size--regular .Spinner__progress {
  font-size: 9px;
}

.Spinner__size--medium svg {
  width : 36px;
  height: 36px;
}

.Spinner__size--medium .Spinner__progress {
  font-size: 12px;
}

.Spinner__size--large svg {
  width : 48px;
  height: 48px;
}

.Spinner__size--large .Spinner__progress {
  font-size: 16px;
}

.Spinner__size--x-large svg {
  width : 54px;
  height: 54px;
}

.Spinner__size--x-large .Spinner__progress {
  font-size: 20px;
}

/* Colors */
.Spinner__color--icon_tertiary {
  color: var(--icon_tertiary);
}

.Spinner__color--primary {
  color: var(--separator_primary);
}

.Spinner__color--secondary {
  color: var(--separator_secondary);
}

.Spinner__color--inherit {
  color: inherit;
}

.Spinner__progress {
  position       : absolute;
  left           : 0;
  right          : 0;
  top            : 0;
  bottom         : 0;
  display        : flex;
  justify-content: center;
  align-items    : center;

  color: inherit;
}