.Input {
  display       : flex;
  flex-direction: row;
  align-items   : center;

  color: var(--ui-text-primary);

  overflow: hidden;
}

.Input__size--small {
  --input-height: var(--ui-input-small)
}

.Input__size--medium {
  --input-height: var(--ui-input-medium)
}

.Input__size--large {
  --input-height: var(--ui-input-large)
}

.Input__in {
  /* border */
  /* padding   : 2px; */
  position  : relative;
  overflow  : hidden;
  width     : 100%;
  box-sizing: border-box;

  display       : flex;
  flex-direction: row;
  align-items   : center;

  flex-grow : 2;
  flex-basis: 0%;


  background-color: var(--ui-bg-secondary);

  border-radius: var(--ui-radius-medium);

  border : var(--ui-size-1px) solid var(--ui-border-secondary);
  outline: 0px solid transparent;

  transition: 0.3s;
}

.Input__element {
  appearance: none;

  color: var(--ui-text-primary);

  background: none;

  width     : 100%;
  padding   : 0px var(--ui-padding-medium);
  /* height : 36px; */

  border : none;
  outline: none;

  transition: 0.3s;
}

.Input__in:has(.Input__before:not(:empty)) .Input__element {
  padding-left: 0px;
}


@media (hover: hover) {
  .Input__in:has(.Input__element:hover:not(:disabled):not(:read-only)) {
    background: color-mix(in srgb, var(--ui-bg-secondary) 95%, white);
  }
}

.Input__in:has(.Input__element:focus-visible:not(:disabled):not(:read-only)) {
  background: color-mix(in srgb, var(--ui-bg-secondary) 95%, white);
}


.Input__element:disabled {
  cursor : not-allowed;
  opacity: 0.55;
}


.Input__element::placeholder {
  color  : var(--ui-text-secondary);
  opacity: 1;
}

.Input__element:-webkit-autofill {
  -webkit-text-fill-color: var(--ui-color-neutral-900);
  -webkit-box-shadow     : 0 0 0 1000px var(--ui-color-neutral-0) inset;
}


/* Button Cancel */
.Input__button--close {
  position: relative;

  display   : flex;
  flex-grow : 0;
  flex-basis: 0%;
  max-width : min-content;

  min-width: 0px;

  font-size  : normal;
  line-height: normal;
  font-weight: normal;


  box-sizing: border-box;

  transition: 0.3s;
}

.Input__in:has(.Input__element:focus-visible:not(:disabled):not(:read-only))~.Input__button--close {
  flex-grow: 1;
}

.Input__button--close_in {
  appearance: none;
  color     : inherit;
  background: transparent;
  border    : 0;

  padding: var(--ui-padding-medium-half) var(--ui-padding-medium);
  cursor : pointer;
}


/* |- :read-only */
.Input__element:not(:disabled):read-only {
  cursor     : not-allowed;
  caret-color: transparent;
}



/* :valid */
.Input__in:has(.Input__status--auto):has(.Input__element:not(:focus):valid),
.Input__in:has(.Input__status--valid) {
  border-color: var(--ui-color-position);
  background  : color-mix(in srgb, var(--ui-bg-secondary) 95%, var(--ui-color-position));
}

/* :invalid */
.Input__in:has(.Input__status--auto):has(.Input__element:not(:focus):invalid:not(:placeholder-shown)),
.Input__in:has(.Input__status--invalid) {
  border-color: var(--ui-color-danger);
  background  : color-mix(in srgb, var(--ui-bg-secondary) 95%, var(--ui-color-danger));
}


.Input__element[type="number"]::-webkit-outer-spin-button,
.Input__element[type="number"]::-webkit-inner-spin-button {
  appearance        : none;
  -webkit-appearance: none;
  margin            : 0;
}

.Input__element[type="number"] {
  -moz-appearance: textfield;
}


.Input__number--buttons {
  z-index        : 2;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : row;

  border-radius: calc(var(--ui-radius-medium) - var(--ui-size-3px));
  gap          : var(--ui-size-3px);
  margin       : var(--ui-size-3px);
  box-sizing   : border-box;
}

.Input__number--button {
  border-radius: calc(var(--ui-radius-medium) - var(--ui-size-3px));
  background   : color-mix(in srgb, var(--ui-bg-secondary) 90%, white);

  display        : flex;
  justify-content: center;
  align-items    : center;


  appearance: none;
  border    : none;
  color     : var(--ui-text-primary);
  display   : block;
  margin    : 0;
  padding   : var(--ui-padding-medium-half);
}


.Input__number--button * {
  display: block;
}


@media (hover: none) {
  .Input__number--buttons {
    visibility: hidden;
  }
}


/* Before */
.Input__before {
  position  : relative;
  box-sizing: border-box;

  display: flex;
}

.Input__group--search {
  position: relative;
  color   : var(--ui-text-primary);

  margin: var(--ui-size-2px);
  height: calc(var(--input-height) - var(--ui-size-4px));
  width : calc(var(--input-height) - var(--ui-size-4px));

  padding-right: 0px;
  box-sizing   : border-box;

  display        : flex;
  justify-content: center;
  align-items    : center;

}

.Input__icon--search {
  display        : flex;
  justify-content: center;
  align-items    : center;
  opacity        : 1;
  transform      : scale(1);
  transition     : 0.3s;
}

.Input__icon--loading {
  position       : absolute;
  opacity        : 0;
  transform      : scale(0.8);
  left           : 0;
  top            : 0;
  bottom         : 0;
  right          : 0;
  display        : flex;
  justify-content: center;
  align-items    : center;

  transition: 0.3s;
}

.Input__in:has(.Input__element[data-loading="true"]) .Input__icon--search {
  opacity  : 0;
  transform: scale(0.8);
}

.Input__in:has(.Input__element[data-loading="true"]) .Input__icon--loading {
  opacity  : 1;
  transform: scale(1);
}


/* After */
.Input__after {
  position  : relative;
  box-sizing: border-box;

  display: flex;
}

.Input__icon--clear {
  margin: var(--ui-size-2px);
  width : calc(var(--input-height) - var(--ui-size-4px));
  height: calc(var(--input-height) - var(--ui-size-4px));

  position  : relative;
  color     : var(--ui-text-secondary);
  box-sizing: border-box;

  display        : flex;
  justify-content: center;
  align-items    : center;

  transition: 0.3s;

  margin-right: calc(calc(var(--input-height) - var(--ui-size-4px)) * -1);

  border-radius: calc(var(--ui-radius-medium) - var(--ui-size-3px));
  background   : color-mix(in srgb, var(--ui-bg-secondary) 90%, white);
}

/* Input__icon--clear */
.Input__in:has(.Input__element:not(:placeholder-shown):not(:disabled):not(:read-only)) .Input__icon--clear {
  opacity     : 1;
  margin-right: var(--ui-size-2px);
}

.Input__icon--before,
.Input__icon--after {
  position: relative;
  color   : var(--ui-text-secondary);

  margin   : var(--ui-size-2px);
  height   : calc(var(--input-height) - var(--ui-size-4px));
  width    : calc(var(--input-height) - var(--ui-size-4px));
  min-width: calc(var(--input-height) - var(--ui-size-4px));


  box-sizing: border-box;

  display        : flex;
  justify-content: center;
  align-items    : center;

  transition: 0.3s;

  margin-right: 0px;
}

/* disabled */
.Input__icon--disabled,
.Input__icon--readonly {
  color: var(--ui-text-secondary);

  margin   : var(--ui-size-2px);
  height   : calc(var(--input-height) - var(--ui-size-4px));
  width    : calc(var(--input-height) - var(--ui-size-4px));
  min-width: calc(var(--input-height) - var(--ui-size-4px));

  position     : relative;
  display      : block;
  border-radius: calc(var(--ui-radius-medium) - var(--ui-size-3px));
  aspect-ratio : 1 / 1;
  width        : 100%;
  box-sizing   : border-box;

  display        : flex;
  justify-content: center;
  align-items    : center;
}